@font-face {
	font-family: 'interR';
	src: url('../fonts/inter/Inter-Regular.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'interI';
	src: url('../fonts/inter/Inter-Italic.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'interBo';
	src: url('../fonts/inter/Inter-Bold.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'interBoI';
	src: url('../fonts/inter/Inter-BoldItalic.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'interBl';
	src: url('../fonts/inter/Inter-Black.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'interExBo';
	src: url('../fonts/inter/Inter-ExtraBold.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'interExBoI';
	src: url('../fonts/inter/Inter-ExtraBoldItalic.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'LT22L';
	src: url('../fonts/lunchtype22-light-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT22M';
	src: url('../fonts/lunchtype22-medium-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT22R';
	src: url('../fonts/lunchtype22-regular-webfont.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'LT23L';
	src: url('../fonts/lunchtype23-light-italic-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT23M';
	src: url('../fonts/lunchtype23-medium-italic-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT23R';
	src: url('../fonts/lunchtype23-regular-italic-webfont.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'LT24L';
	src: url('../fonts/lunchtype24-light-expanded-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT24M';
	src: url('../fonts/lunchtype24-medium-expanded-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT24R';
	src: url('../fonts/lunchtype24-regular-expanded-webfont.ttf');
	font-style: normal;
}

@font-face {
	font-family: 'LT25L';
	src: url('../fonts/lunchtype25-light_condensed-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT25M';
	src: url('../fonts/lunchtype25-medium-condensed-webfont.ttf');
	font-style: normal;
}
@font-face {
	font-family: 'LT25R';
	src: url('../fonts/lunchtype25-regular_condensed-webfont.ttf');
	font-style: normal;
}
