@import 'font.css';

$line-height: 20px;
$font-size: 18px;
$u: 20px;

//COULEUR

$projet-T: #a80000;
$projet-t: #978180;
$projet-h: #7e6260;
$blog-T: #3334aa;
$blog-t: #808097;
$blog-h: #62607e;
$ref-T: #399242;
$ref-t: #809783;
$ref-h: #607e62;
$about-T: black;
$about-t: #484848;




html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	font-family: 'interBo';
	font-size: $font-size;
	line-height: $line-height;
	word-spacing: -1pt;
	h1, h2, h3, strong, span, p, ul, li{
		font-weight: normal;
	}
}

a {
	color: inherit;
}


header {
	top:0;
	width: 100%;
	position: fixed;
	background: white;
	display: flex;
	padding: $u / 4;
	z-index: 2;
	.info {
		max-width: 800px;
		margin-right: $u;
		width: 5 * $u;

		h1 {
			font-size: 1em;
			text-transform: uppercase;
			color: #484848;
		}

		* {
			display: inline; 
			margin: 0;
			p {
				display: inline; 
				margin-left: $line-height * 4;
				& + p {
					margin-left: $line-height * 4;
				}
			}
		}

		.address {
		color: dim#484848;
		&:before {
			content: 'address';
			position: absolute;
			margin-left: $line-height * 2;
			font-size: 0.6em;
			text-align: right;
		}
		&:hover {
			visibility: visible;
		}
	}
}
	.sort {
		display: flex;
		align-items: baseline;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1.1 * $u;
			li {
				cursor: pointer;
				&:hover { color: #484848 }
				&.active {
					text-decoration: underline;
				}
			}
			&.type-list {
				margin-right: $u;
				width: 10 * $u;
				.sort_projet { color: $projet-T; }
				.sort_blog { color: $blog-T; }
				.sort_ref { color: $ref-T; }
				.sort_about {color: #484848;}
			}
			&.type-list:nth-of-type(2){
				width: 4 * $u;
			}
			&.category-list {
				color: purple;
				text-align: left;
			}

			&.author-list {
				color: darkblue;
				text-align: right; 
			}

		}

	}


}




section#about {

	.presentation {
		color: #484848;
		// visibility: hidden;
		&:before {
			visibility: visible;
			content: 'txt';
			position: absolute;
			margin-left: $line-height * 3;
			font-size: 0.6em;
			text-align: right;
		}
		&:hover {
			visibility: visible;
		}
	}
}

section.empty {
	height: 100vh;
}
section#projets .list{
	margin-top: 85px;

}
ul.list{
	// visibility: hidden;
	list-style: none;	
	padding: $u / 4;
	margin: 0;


	li.item.projet {

		// display: none;
		.cote{
			color: $projet-T;
		}
	}
	li.item.post{
		.cote{
			color:$blog-T;
		}
		.title,
		.author{
			color:#2e6a6d;
		}
	}
	li.item.visible { display: block }

	// li:nth-of-type(odd) .header {
	// 		background: #F3F3F3;
	// }

	li:nth-of-type(even) .header{
			background: white;
	}

	li {	
		&[data-active="true"] {
			.header {
				color: #bf6e00;

			}
			.content {
				display: flex;
			}
		}

		.cote{
			width: 7.5 * $u;
			
			span.type_projet{color: $projet-T;}
			span.type_blog {color: $blog-T;}
			span.type_reference {color: $ref-T;}
		}
		.title {

			color: #6d2e49;


		}
		.author {
			width: 15%;
			color:#6d2e49;
		}
		.category{
			color:#bf6e00;

		}

		.date {
			width: 5 * $u;
			// text-align: right;
			color:#bf6e00;
		}
		.header {
			display: flex;
			flex-flow: wrap;
			cursor: pointer; 
			 > span {
				font-family: 'interBo';
				position: relative;
				margin-right: $u;
				&.title {
					white-space: nowrap;
					font-family: 'interBoI';
				}
				&:nth-of-type(1):after,
				&:nth-of-type(1):before {
					text-transform: uppercase;
					position: absolute; 
					font-size: $font-size / 1.5;
				}

			}
		}

		.content {
			display: flex;
			flex-flow: wrap;
			display: none;
			overflow-y: scroll; 
			overflow-x: hidden;


		}
		&.projet {
			.header:hover 
				span {
					background: white;
				}			
			// background: #ffe8e1;

			.content {
				margin: 0 0;
				max-height: 100vh;
				background: white;
				.description {
					font-family: 'interBo';

					max-width: 70%;
					p{
						margin: 0 ($u * 25) 0 ($u * 6);
						text-indent: $u * 11;
						color: #484848;					
					}
				}
				.images {
					height: 80vh;
					img{
						width: 20%;
					}
				}
			}
		}

		&.post {
			background: white;
			.header:hover {
				span {
					background: white;
				}
			}

			.content {
				.description {
					max-width: 70%;
					p{
						margin: 0 ($u * 20) 0 ($u * 6);
						text-indent: $u * 11;
						color: #484848;					
					}
					h2{
						line-height: $u * 2;
					}
				}
			}
		}

		&.ref {
			background: white;
			.header:hover {
				span {
					background: white;
				}
			}
			.header:active {
				span {
					background: #e9ffe1;
				}
			}

			.content {
				.description {
					max-width: 800px;
					background: #e9ffe1;
				}
				.images {
					img{
						width: 100%;
					}
				}
			}

		}

	}
}



