@import url(font.css);
html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-family: 'interBo';
  font-size: 18px;
  line-height: 20px;
  word-spacing: -1pt; }
  body h1, body h2, body h3, body strong, body span, body p, body ul, body li {
    font-weight: normal; }

a {
  color: inherit; }

header {
  top: 0;
  width: 100%;
  position: fixed;
  background: white;
  display: flex;
  padding: 5px;
  z-index: 2; }
  header .info {
    max-width: 800px;
    margin-right: 20px;
    width: 100px; }
    header .info h1 {
      font-size: 1em;
      text-transform: uppercase;
      color: #484848; }
    header .info * {
      display: inline;
      margin: 0; }
      header .info * p {
        display: inline;
        margin-left: 80px; }
        header .info * p + p {
          margin-left: 80px; }
    header .info .address {
      color: dim #484848; }
      header .info .address:before {
        content: 'address';
        position: absolute;
        margin-left: 40px;
        font-size: 0.6em;
        text-align: right; }
      header .info .address:hover {
        visibility: visible; }
  header .sort {
    display: flex;
    align-items: baseline; }
    header .sort ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 22px; }
      header .sort ul li {
        cursor: pointer; }
        header .sort ul li:hover {
          color: #484848; }
        header .sort ul li.active {
          text-decoration: underline; }
      header .sort ul.type-list {
        margin-right: 20px;
        width: 200px; }
        header .sort ul.type-list .sort_projet {
          color: #a80000; }
        header .sort ul.type-list .sort_blog {
          color: #3334aa; }
        header .sort ul.type-list .sort_ref {
          color: #399242; }
        header .sort ul.type-list .sort_about {
          color: #484848; }
      header .sort ul.type-list:nth-of-type(2) {
        width: 80px; }
      header .sort ul.category-list {
        color: purple;
        text-align: left; }
      header .sort ul.author-list {
        color: darkblue;
        text-align: right; }

section#about .presentation {
  color: #484848; }
  section#about .presentation:before {
    visibility: visible;
    content: 'txt';
    position: absolute;
    margin-left: 60px;
    font-size: 0.6em;
    text-align: right; }
  section#about .presentation:hover {
    visibility: visible; }

section.empty {
  height: 100vh; }

section#projets .list {
  margin-top: 85px; }

ul.list {
  list-style: none;
  padding: 5px;
  margin: 0; }
  ul.list li.item.projet .cote {
    color: #a80000; }
  ul.list li.item.post .cote {
    color: #3334aa; }
  ul.list li.item.post .title,
  ul.list li.item.post .author {
    color: #2e6a6d; }
  ul.list li.item.visible {
    display: block; }
  ul.list li:nth-of-type(even) .header {
    background: white; }
  ul.list li[data-active="true"] .header {
    color: #bf6e00; }
  ul.list li[data-active="true"] .content {
    display: flex; }
  ul.list li .cote {
    width: 150px; }
    ul.list li .cote span.type_projet {
      color: #a80000; }
    ul.list li .cote span.type_blog {
      color: #3334aa; }
    ul.list li .cote span.type_reference {
      color: #399242; }
  ul.list li .title {
    color: #6d2e49; }
  ul.list li .author {
    width: 15%;
    color: #6d2e49; }
  ul.list li .category {
    color: #bf6e00; }
  ul.list li .date {
    width: 100px;
    color: #bf6e00; }
  ul.list li .header {
    display: flex;
    flex-flow: wrap;
    cursor: pointer; }
    ul.list li .header > span {
      font-family: 'interBo';
      position: relative;
      margin-right: 20px; }
      ul.list li .header > span.title {
        white-space: nowrap;
        font-family: 'interBoI'; }
      ul.list li .header > span:nth-of-type(1):after, ul.list li .header > span:nth-of-type(1):before {
        text-transform: uppercase;
        position: absolute;
        font-size: 12px; }
  ul.list li .content {
    display: flex;
    flex-flow: wrap;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden; }
  ul.list li.projet .header:hover
  span {
    background: white; }
  ul.list li.projet .content {
    margin: 0 0;
    max-height: 100vh;
    background: white; }
    ul.list li.projet .content .description {
      font-family: 'interBo';
      max-width: 70%; }
      ul.list li.projet .content .description p {
        margin: 0 500px 0 120px;
        text-indent: 220px;
        color: #484848; }
    ul.list li.projet .content .images {
      height: 80vh; }
      ul.list li.projet .content .images img {
        width: 20%; }
  ul.list li.post {
    background: white; }
    ul.list li.post .header:hover span {
      background: white; }
    ul.list li.post .content .description {
      max-width: 70%; }
      ul.list li.post .content .description p {
        margin: 0 400px 0 120px;
        text-indent: 220px;
        color: #484848; }
      ul.list li.post .content .description h2 {
        line-height: 40px; }
  ul.list li.ref {
    background: white; }
    ul.list li.ref .header:hover span {
      background: white; }
    ul.list li.ref .header:active span {
      background: #e9ffe1; }
    ul.list li.ref .content .description {
      max-width: 800px;
      background: #e9ffe1; }
    ul.list li.ref .content .images img {
      width: 100%; }

/*# sourceMappingURL=main.css.map */
