{% extends 'partials/base.html.twig' %}

{% block content %}

<header>
	<section class="info">
		<h1>
			{{ page.header.title }}
		</h1>
	</section>
	<section class="sort" >
		<ul class="type-list">
			<li class="sort_projet" data-type="type"><a href="#projets"><span>(P)</span>rojets</a></li>
			<li class="sort_blog" data-type="type"><a href="#blogs"><span>(B)</span>log posts</a></li>
			<li class="sort_ref" data-type="type"><a href="#references"><span>(R)</span>eferences</a></li>
		</ul>
		<ul class="type-list">
			<li class="sort_about" data-type="type"><a href="#about"><span>(A)</span>bout</a></li>
		</ul>
	</section>
	
</header>

	<section class="content" id="projets">
		<ul class="list" id="projets">
			{% for i in range(0, 17) %}
			{% for projet in page.find('/projets').children  %}
				{% set pCats = projet.header.taxonomy.category %}
				{% set pDate = projet.header.date %}
				{% set pTitle = projet.header.title %}
				{% set pAuthors = projet.header.taxonomy.authors %}
		
			<li class="item projet" data-type="projet" data-active="false">
				<div class="header" id="{{ projet.slug|replace({' ': '', '(' : '', ')': ''}) }}">
		
					<span class="date" data-date="{{ pDate|date("Ym") }}"> {{ pDate|date("d.m.y")  }} </span>
					<span class="cote" data-date="null"> null </span>
					<span class="title">{{ pTitle}}</span>
					<span class="author" data-author="{{ pAuthors|join('|') }}">{{ pAuthors|join(', ') }}</span>
					<span class="category" data-category="{{ pCats|join('|') }}" >{{ pCats|join(', ') }}</span>
				</div>
				<div class="content">
					<div class="description">
						{{ projet.header.description|markdown }}
					</div>
					<div class="images">
						{% for img in projet.header.imagesList[0].media  %}
							<img src="{{ img.path }}" alt="">
						{% endfor %}
					</div>
				</div>
			</li>
			{% endfor %}
			{% endfor %}

		<section id="blogs" class="content">

			{% for i in range(0, 4) %}
			{% for post in page.find('/blog').children  %}
			{% set pstCats = post.header.taxonomy.category %}
			{% set pstDate = post.header.date %}
			{% set pstTitle = post.header.title %}
			{% set pstAuthors = post.header.taxonomy.authors %}
			<li class="item post" data-type="blog" data-active="false">
				<div class="header" >
					<span class="date" data-date="{{ pstDate|date("Ym") }}">{{ pstDate|date("d.m.y") }}</span>
					<span class="cote" data-cote="null"> null </span>
					<span class="title">{{ pstTitle }}</span>
					<span class="author" data-author="{{ pstAuthors|join('|') }}">{{ pstAuthors|join(', ') }}</span>
					<span class="category" data-category="{{ pstCats|join('|') }}" >{{ pstCats|join(', ') }}</span>
				</div>
				<div class="content">
					<div class="description">
						{{ post.header.description|markdown }}
					</div>
				</div>
		
			</li>
			{% endfor %}
			{% endfor %}
		</section>

		<section id="about" class="content">
			<div class="presentation">
				{{ page.content|markdown }}
			</div>
			<div class="address">
				{{ page.header.adress|markdown }}
				{{ page.header.juridic }}
			</div>
		</section>
		<section id="references" class="content">
			{% for i in range(0, 4) %}
			{% for ref in page.find('/references').children  %}
			<li class="item ref" data-type="reference" data-active="false">
				<div class="header" >
		
					<span class="date" data-date="{{ ref.header.date|date("Ym") }}">{{ ref.date|date("D F jS") }}</span>
					<span class="title">{{ ref.header.title }}</span>
					<span class="category">{{ ref.header.taxonomies[0] }}</span>
					<span class="author">
						{% set number = ref.header.authors|length %}
						{% set i=1 %}
						{% for author in ref.header.authors %} 
						{{ author.text }}
						{% if number != i %}, 
						{% endif %}
						{% set i=i+1 %}
						{% endfor %}
					</span>
				</div>
				<div class="content">
					<div class="description">
						{{ ref.header.description|markdown }}
		
						{% for pdf in ref.header.pdf[0].media  %}
						<a href="{{ pdf.path }}" target="_blank">{{ pdf.path }}</a>
						{% endfor %}
					</div>
					<div class="images">
						{% for img in ref.header.imagesList[0].media  %}
						<img src="{{ img.path }}" alt="">
						{% endfor %}
		
					</div>
				</div>
		
			</li>
			{% endfor %}
			{% endfor %}
		</ul>	
	</section>

	<section class="empty"></section>

	{% endblock %}
